.hero_image {
  position: fixed;
  top: 0;
  right: 0;
  width: 40vw;
  height: 50vw;
  background: url('/img/bg_hero.png') no-repeat bottom;
  background-size: 100%;
  z-index: -1;

  @media screen and (min-width: 600px) {
    top: -15vh;
    width: 30vw;
    height: 45vw;
  }

  @media screen and (min-width: 1024px) {
    top: -25vh;
    width: 30vw;
    height: 45vw;
  }
}

.custom-select {
  background-color: transparent;
  padding: 0.33rem 0.75rem;
  color: $mdb-gray;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  min-height: auto;
  line-height: 1.5;
}

.label-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.was-validated select.form-control:invalid {
  color: #f93154;
}

.card-img-custom {
  width: 30% !important;
}

#table-print {
  display: none;
}
